%h4 Meetings

%table.outer-list#top-level
	%thead 
		%tr 
			%th{:style => "width: 250px;"} Description
			%th Location
			%th Start Date
			%th Duration
	%tbody 
		- @meetings.each do |meeting|
			%tr 
				%td= link_to meeting.descr, edit_meeting_path(meeting), :class => "secondary"
				%td= meeting.location
				%td{:style => "padding-right: 15px;"}= meeting.pretty_start_time
				%td= distance_of_time_in_words(meeting.duration.minutes)

		%tr#pagination-row
			%td{:colspan => "4", :style => "text-align: center;"}
				= render partial: 'pagination', locals: { :coll => @meetings }
%br/ 
= link_to "New Meeting", new_meeting_path