<!DOCTYPE html>
<html>
<head>
  <title>Get2gether</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "msg_modal" %>
	<div style="padding: 10px;">
		<table class="page-top">
			<tr>
				<td>
					<%= link_to("Sign Up!", new_person_registration_path) + " | " unless person_signed_in? %>
					<% if !person_signed_in? %>
						<%= link_to("Sign in", new_person_session_path) %>
					<% else %>
						<%= link_to("Sign out", destroy_person_session_path, :method => :delete) %>
					<% end %>
				</td>
				<td>
					<% hidden_inputs_str = hidden_field_tag(:per_page, @per_page)  %>
					<%= render partial: 'search_form', locals: { hidden_inputs: hidden_inputs_str } %>
				</td>
			</tr>
		</table>
		
	</div>


<%= render "flash_messages" %>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
